@import "node_modules/foundation-sites/scss/foundation";
@import "node_modules/iconfonts/stylesheets/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@include foundation-global-styles;
@include foundation-typography;
@include foundation-flex-classes;
@include foundation-flex-grid;

@include fa-font;

body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

/**
 * Some color variables.
 */
$layout-primary-color: #E6624E;
$layout-primary-highlight-color: #F2CCC7;
$layout-secondary-color: #4E97E6;

/**
 * The z-index ordering of some elements. The order is from lowest to highest.
 */
$z-index-elements: brands, filters, header-overlay, navigation-overlay, topbar, navigation;

a, a:hover {
    text-decoration: none;
}

$navigation-transition-duration: 0.25s;

nav.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: index($z-index-elements, navigation);
    background-color: $layout-primary-color;
    height: 100%;
    width: 240px;
    transform: translateX(-240px);
    transition: transform $navigation-transition-duration ease;

    @include breakpoint(medium) {
        width: 300px;
        transform: translateX(-300px);
    }

    @include breakpoint(large) {
        width: 400px;
        transform: translateX(-400px);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;

            &.heading,
            a {
                height: 64px;
                line-height: 64px;
                padding: 0 24px;
                font-size: 1rem;
                text-transform: uppercase;
                color: #fff;
            }

            &.heading {
                font-weight: bold;
                font-size: 1.25rem;
                background-color: #d34937;
            }

            a {
                display: block;

                &:hover {
                    background-color: #e0513e;
                }
            }
        }
    }
}

div.navigation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: index($z-index-elements, navigation-overlay);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color $navigation-transition-duration ease, width 0s $navigation-transition-duration ease, height 0s $navigation-transition-duration ease;
}

/**
 * The topbar is a fixed bar that is positioned along the top of the page.
 * The left contains the menu button, the middle is for the logo, and
 * the right contains user related options and a cart.
 */
div.topbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: index($z-index-elements, topbar);
    background-color: $layout-primary-color;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.25rem;
    transition: transform $navigation-transition-duration ease;

    &, ul > li {
        height: 64px;
        line-height: 64px;
    }

    /**
     * Both the menu and the cart are buttons. We want to hide borders and backgrounds.
     */
    button {
        background: none;
        border: none;
        outline: none;
        color: #fff;
        line-height: 32px;
        height: 64px;
        cursor: pointer;

        &.navigation-button:before {
            @include fa-icon("bars");
        }

        &.cart:before {
            @include fa-icon("shopping-cart");
        }
    }

    @include breakpoint(small) {
        div.logo {
            display: none;
        }

        ul {
            li:first-child {
                display: none;
            }

            li:last-child {
                float: right !important;
            }
        }
    }

    div.right-menu,
    div.left-menu {
        button {
            font-size: 2.5rem;
        }
    }

    div.right-menu,
    div.left-menu {
        button, button:before, a {
            transition: color 0.25s;
        }

        button:hover:before,
        a:hover {
            color: $layout-primary-highlight-color;
        }
    }

    /**
     * The right menu is for user related options.
     */
    div.right-menu {
        ul {
            float: right;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                float: left;
                margin-left: 24px;

                a {
                    color: #fff;
                    display: inline-block;
                }
            }
        }
    }
}

/**
 * The main menu is a push-style menu that will push the content to the right.
 * This menu is hidden by default and requires a click to show.
 */

div.container {
    position: relative;
    left: 0;
    padding-top: 64px;
    transition: transform $navigation-transition-duration ease;
}

/**
 * When the menu is active we want to hide an awkward overflow.
 * We also want to do a bunch of transformations so things
 * slide nicely into place.
 */
body.navigation-active {
    overflow: hidden;

    nav.navigation {
        transform: translateX(0);
    }

    div.navigation-overlay {
        transition: background-color $navigation-transition-duration ease;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
    }

    div.topbar {
        transform: translateX(240px);

        @include breakpoint(medium) {
            transform: translateX(300px);
        }

        @include breakpoint(large) {
            transform: translateX(400px);
        }
    }

    div.container {
        transform: translateX(240px);

        @include breakpoint(medium) {
            transform: translateX(300px);
        }

        @include breakpoint(large) {
            transform: translateX(400px);
        }
    }
}

div.header {
    width: 100%;
    height: 600px;
    margin-bottom: 24px;

    div.featured-product {
        display: table;
        background-size: cover;
        background-position: 0 75%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        div.overlay {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.25s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);

                h4 > a {
                    padding: 24px 34px;
                }
            }

            h4 {
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;

                a {
                    transition: padding 0.25s;
                    color: #fff;
                    border: 3px solid #fff;
                    padding: 14px 24px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #fff;
                        color: #77593A;
                    }
                }
            }
        }
    }
}

ul.product-filters {
    position: relative;
    list-style: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 12px 0;
    padding: 0;
    width: 200px;

    @include breakpoint(large) {
        margin-bottom: 24px;
        width: auto;
    }

    li {
        float: left;
        height: 48px;
        line-height: 48px;

        /**
         * Anchors, the label, and the drop down list items all have a different
         * box sizing so that heights and line heights match up. We'll also
         * give them all a solid 3px border.
         */
        a,
        &.filter-label {
            box-sizing: content-box;
            border-width: 3px;
            border-style: solid;
        }

        &.filter-label {
            border-radius: 3px 3px 3px 3px;
            cursor: pointer;
            color: #fff;
            width: 194px;

            span.icon {
                position: relative;
                margin-left: 12px;
                top: -2px;
            }

            span.icon:before {
                @include fa-icon("chevron-down");
            }

            @include breakpoint(large) {
                width: auto;
                cursor: default;
                padding: 0 12px;
                border-radius: 3px 0 0 3px;

                span.icon {
                    display: none;
                }
            }
        }

        /**
         * The items are hidden by default and will be shown when the menu is
         * hovered.
         */
        &.filter-items > ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 200px;
            margin-top: -3px;

            li {
                width: 100%;

                a {
                    border-bottom-width: 0;
                }

                &:first-child > a {
                    border-radius: 3px 0 0 0;
                }

                &:last-child > a {
                    border-bottom-width: 3px;
                    border-radius: 0 0 3px 3px;
                }
            }

            @include breakpoint(large) {
                display: block;
                position: static;
                width: auto;
                margin: 0;

                li {
                    width: auto;
                    float: left;

                    a {
                        border-bottom-width: 3px;
                        border-right-width: 0;
                    }

                    &:first-child > a {
                        border-radius: 0;
                    }

                    &:last-child > a {
                        border-radius: 0 3px 3px 0;
                        border-right-width: 3px;
                    }
                }
            }
        }
    }

    /**
     * When hovering the menu we want the drop down icon to be
     * an up facing chevron.
     */
    &.is-active > li.filter-label > span.icon:before {
        @include fa-icon("chevron-up");
    }

    /**
     * When hovering the menu we will display the hidden filter
     * items drop down.
     */
    &.is-active {
        li.filter-items > ul {
            display: block;
        }
    }

    /**
     * The colors for the filter by list.
     */
    &.filters {
        z-index: index($z-index-elements, filters);

        @include breakpoint(large) {
            margin-right: 12px;
        }

        li {
            a,
            &.filter-label {
                border-color: $layout-primary-color;
            }

            &.filter-label {
                background-color: $layout-primary-color;
            }

            @include breakpoint(medium down) {
                a {
                    background-color: $layout-primary-color;

                    &:hover {
                        color: $layout-primary-color;
                    }
                }
            }

            @include breakpoint(large) {
                a {
                    color: $layout-primary-color;

                    &:hover {
                        background-color: $layout-primary-color;
                    }
                }
            }
        }
    }

    /**
     * The colors for the brands list.
     */
    &.brands {
        z-index: index($z-index-elements, brands);

        @include breakpoint(large) {
            margin-left: 12px;
        }

        li {
            a,
            &.filter-label {
                border-color: $layout-secondary-color;
            }

            &.filter-label {
                background-color: $layout-secondary-color;
            }

            @include breakpoint(medium down) {
                a {
                    background-color: $layout-secondary-color;

                    &:hover {
                        color: $layout-secondary-color;
                    }
                }
            }

            @include breakpoint(large) {
                a {
                    color: $layout-secondary-color;

                    &:hover {
                        background-color: $layout-secondary-color;
                    }
                }
            }
        }
    }

    li {
        a {
            display: block;
            color: #fff;

            &:hover {
                background-color: #fff;
            }

            @include breakpoint(large) {
                padding: 0 12px;
                background-color: #fff;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

div.product-listing {
    div.product {
        margin-bottom: 24px;

        div.product-photo {
            height: 400px;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            a.overlay {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0);
                transition: background-color 0.15s;

                span {
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -32px 0 0 -32px;
                    width: 64px;
                    height: 64px;
                    text-align: center;
                    line-height: 64px;
                    background-color: rgba(0, 0, 0, 0);
                    border-radius: 32px;
                    color: rgba(0, 0, 0, 0);
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    transition: color 0.25s, background-color 0.25s;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);

                    span {
                        background-color: $layout-primary-color;
                        color: #fff;
                    }
                }
            }
        }

        div.product-details {
            line-height: 2rem;
            text-align: center;

            h3 {
                text-transform: uppercase;
                font-size: 1.25rem;
            }

            span.price {
                font-size: 1.75rem;
                font-weight: bold;
            }
        }
    }
}
